/* applies font styles to body of page; I also added bg image */
/* changed colors out of personal preference;
instructor OK'd and said to leave note for graders. */
body {
    background-image: linear-gradient(#347976, #9dd4bc, white);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}

/* following code applies styles to various classes */
.description {
    white-space: pre-wrap;
}

.time-block {
    border-radius: 15px;
}

.row {
    border-top: 1px solid #ed87a6;
}

.hour {
    background-color: #ef87a6;
    color: #ffffff;
    border-top: 1px dashed #ef87a6;
}

/* changed colors out of personal preference;
instructor OK'd and said to leave note for graders. */
.past {
    background-color: #80c9ab;
    color: white;
}

.present {
    background-color: #07fc9a;
    color: white;
}

.future {
    background-color: #9cf9d3;
    color: white;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ef87a6;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}